<% include headernav.ejs %> <!-- header and top-level nav bar -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div id="dash" class="well well-small clearfix">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td width="5%">
                <img class="img-rounded offset1" src="images/attitash-dev-prof-pic.jpeg" />
              </td>
              <td width="95%">
                <a href="#"><h5><%= userName %></a><span><p><small>view profile page</small></p></span></h5>
              </td>
            </tr> 
            <tr>
              <td>5</td>
              <td>3</td>
              <td>7</td>
            </tr> 
          </thead>
          <tbody>
            <tr>
              <td><strong>Tashs</strong></td>
              <td><strong>Following</strong></td>
              <td><strong>Followers</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
        <li class="nav-header">People you may know</li>
        <% for(var i=0; i<who_to_follow.length; i++) { %>
          <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="<%= who_to_follow[i].img_src %>">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="#"><%= who_to_follow[i].name %></a> <small>@<%= who_to_follow[i].username %></small><br>
              <small>Followed by <a href="#"><u><%= who_to_follow[i].followed_by %></u></a> and 4 others</small></h5>
              <a class="btn btn-primary btn-mini">Follow</a>
            </div>
          </div>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Trends</li>
        <li><a href="#">#attitash</a></li>
        <li><a href="#">#cs326</a></li>
        <li><a href="#">#jingleheimer</a></li>
        <li><a href="#">#roflmao</a></li>
        <li><a href="#">#balsamiq</a></li>
        <li><a href="#">#betterthantwitter</a></li>
        <li><a href="#">#tash</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span8">
    <ul id="tashs" class="nav nav-stacked">
      <% for(var i=0; i<tashs.length; i++) { %>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="<%= tashs[i].img_src %>">
            </a>
            <div class="media-body">
              <span class="pull-right date">Mar 6</span>
              <h5 class="media-heading"><a href="#"><%= tashs[i].name %></a> <small>@<%= tashs[i].username %></small></h5>
              <%= tashs[i].tash_text %>
            </div>
          </div>
        </li>
      <% } %>
    </ul>
  </div><!--/span8-->
</div><!--/row-->
</div><!--/container-->
<% include footer.ejs %> <!-- footer and bootstrap scripts -->