<% include headernav.ejs %> <!-- header and top-level nav bar -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div id="trends">
            <ul class="nav nav-tabs nav-stacked">  
            <li><a href="#">Profile</a></li>     
            <li><a href="#">Following</a></li>  
            <li><a href="#">Followers</a></li>   
            <li><a href="#">Favorites</a></li>   
            <li><a href="#">Lists</a></li> 
          </div>
          <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
        <li class="nav-header">People you may know</li>
        <% for(var i=0; i<who_to_follow.length; i++) { %>
          <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="<%= who_to_follow[i].img_src %>">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="#"><%= who_to_follow[i].name %></a> <small>@<%= who_to_follow[i].username %></small><br>
              <small>Followed by <a href="#"><u><%= who_to_follow[i].followed_by %></u></a> and 4 others</small></h5>
              <a class="btn btn-primary btn-mini">Follow</a>
            </div>
          </div>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="well well-small">
      <ul id="trends" class="nav nav-stacked">
        <li class="nav-header">Trends</li>
        <% for(var i = 0; i < trends.length; i++) { %>
          <li>
            <div class="media-body">
              <h6 class="media-heading"><a href="#">#<%= trends[i] %></a></h6>
            </div>
          </li>
        <% } %>
      </ul>
    </div><!--/.well -->
        </div><!--/span-->
        <div class="span8">
          <div class="well2">
          <div id="profile" class="well sidebar-nav">
            <img class="displayed img-polaroid" src="images/attitash-dev-prof-pic-large.jpeg" />
            <h3><%= userName %></h3>  
            <h4>@<%= userName %></h4>  
            <table class="table table-condensed2">
              <thead>
                <tr>
                  <th>Tashs</th>
                  <th>Following</th>
                  <th>Followers</th>
                  <th>DM</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>5</td>
                  <td>3</td>
                  <td>7</td>
                  <td><a href="#dmModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-envelope icon-white"></i></a>
              <!-- Modal -->
              <div id="dmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dmModalLabel" aria-hidden="true">
              <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="dmModalLabel">Direct Message</h3>
                 </div>
              <div class="modal-body">
                <div class="divDialogElements">
                <form class="form-search">
                  To: <input type="text" class="search-query" placeholder="username" data-provide="typeahead" autocomplete="off" >
                  <div class="icon-user"></div>
                </form>
                <textarea name="input" type="text" placeholder="Enter your message here!"></textarea>
                </div>
              </div>  
              <div class="modal-footer">
             <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            <i class="icon-ok icon-white"></i> Send!
             </button></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div><!--/row-->
          <div class="span8">
    <ul id="tashs" class="nav nav-stacked">
      <% for(var i=0; i<tashs.length; i++) { %>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="<%= tashs[i].img_src %>">
            </a>
            <div class="media-body">
              <span class="pull-right date">Mar 6</span>
              <h5 class="media-heading"><a href="#"><%= tashs[i].name %></a> <small>@<%= tashs[i].username %></small></h5>
              <%= tashs[i].tash_text %>
            </div>
          </div>
        </li>
      <% } %>
    </ul>
  </div><!--/span8-->
</div><!--/row-->
</div><!--/container-->

<% include footer.ejs %> <!-- footer and bootstrap scripts -->