<% include headernav.ejs %> <!-- header and top-level nav bar -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
        <li class="nav-header">People you may know</li>
        <% for(var i=0; i<who_to_follow.length; i++) { %>
          <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="/images/<%= who_to_follow[i].uname %>.jpeg">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="#"><%= who_to_follow[i].fname %> <%= who_to_follow[i].lname %></a> <small>@<%= who_to_follow[i].uname %></small><br>
              <form method="post" action="/follow?follower=<%= username %>&followee=<%= who_to_follow[i].uname %>">
                <input type="submit" class="btn btn-primary btn-mini" value="Follow" />
                <!-- <a class="btn btn-primary btn-mini btn-follow" type="submit">Follow</a> -->
              </form>
            </div>
          </div>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="well well-small">
      <ul id="trends" class="nav nav-stacked">
        <li class="nav-header">Trends</li>
        <% for(var i = 0; i < trends.length; i++) { %>
          <li>
            <div class="media-body">
              <h6 class="media-heading"><a href="#">#<%= trends[i] %></a></h6>
            </div>
          </li>
        <% } %>
      </ul>
    </div><!--/.well -->
        </div><!--/span-->
          <div class="span8">
 <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
        <h3>Account</h3><h4>Change your password.<h4>
        <form id="pwdreset" action="/user/pwdreset" method="POST">
          <label>Old Password</label>
          <input id="old" name="old" name="password" type="password" value="" class="input-xlarge">
          <label>New Password</label>
          <input id="new" name="newPwd" name="password" type="password" value="" class="input-xlarge">
          <label>Confirm New Password</label>
          <input id="confirmNew" name="password" type="password" value="" class="input-xlarge"><br>
        </form>
        <button form="pwdreset" class="btn btn-primary">Submit</button>
        <div class="alert alert-error">New Password and Confirm Password don't match!</div>
  </div>
  </div><!--/span8-->
</div><!--/row-->
</div><!--/container-->

<% include footer.ejs %> <!-- footer and bootstrap scripts -->